<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Attendance Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h4 style="font-size: 15px;">Class: {{class}} | Section: {{section}} | date: {{date | date:"dd/MMM/YYYY"}}</h4>
  <table style="width: 100%;" >
    <thead>
      <th></th>
      <th>Name</th>
      <th>Status</th>
    </thead>
    <tr *ngFor="let list of details" >
      <td>{{list.roll_no}}</td>
      <td>{{list.name}}</td>
      <td>
        <ion-badge color="danger" *ngIf="list.status == 0"  >Absent</ion-badge>
        <ion-badge color="success" *ngIf="list.status == 1"  >Present</ion-badge>    
      </td>
    </tr>
  </table>

</ion-content>
