<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Send Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="addHomeWork">
    <ion-row>
 
      <ion-col size="6">

        <div class="form-group">
          <ion-select label="Select Class" label-placement="floating" formControlName="class" fill="outline"
            (ionChange)="triggerEvent($event)">
            <ion-select-option *ngFor="let list of classList"
              [value]="list.class_name">{{list.class_name}}</ion-select-option>

          </ion-select>
        </div>

      </ion-col>

      <ion-col size="6">

        <div class="form-group">
          <ion-select label="Select Section" label-placement="floating" formControlName="section" fill="outline">
            <ion-select-option *ngFor="let list of sectionList"
              [value]="list.section_name">{{list.section}}</ion-select-option>
          </ion-select>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="form-group">
          <ion-select label="Select Student Type" label-placement="floating" formControlName="type" fill="outline"
            (ionChange)="selectStudent($event)">
            <ion-select-option value="all">All</ion-select-option>
            <ion-select-option value="selected">Selected Students</ion-select-option>
          </ion-select>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="form-group">
          <ion-select label="Select Notification Type" label-placement="floating" formControlName="notification_type" fill="outline"
            >
            <ion-select-option value="homework ">Homework </ion-select-option>
            <ion-select-option value="discipline">Discipline</ion-select-option>
            <ion-select-option value="fees">Fees</ion-select-option>
          </ion-select>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="form-group">
          <ion-input label="Notification Title" label-placement="floating" fill="outline"
            formControlName="title"></ion-input>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="form-group">
          <ion-textarea label="Notification Details" label-placement="floating" fill="outline" formControlName="details"
            style="height: 180px;"></ion-textarea>
        </div>
      </ion-col>

    </ion-row>
    <ion-button expend="full" size="large" shape="round" (click)="submit()">Submit <ion-spinner *ngIf="submited"></ion-spinner>
    </ion-button>
  </form>
</ion-content>